/*#table-nace {
        width: 100%;
        font-size: 11px;
        border-collapse: collapse;
        border: 1px solid blue;
}

#table-nace thead,#table-nace tbody,#table-nace tr,#table-nace td,#table-nace th { display: block; }

#table-nace tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#table-nace thead th {
    height: 30px;
}

#table-nace tbody {
    height: 300px;
    overflow-y: auto;
}



#table-nace tbody td, #table-nace thead th {
    float: left;
    padding: 0 5px ;
}

#table-nace tbody tr, #table-nace thead tr {
    border: 0.2px solid blue;
    border-collapse: collapse;

}


#table-nace tr.division, #table-nace tr.group, #table-nace tr.section{
    cursor: pointer;
}*/

