@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body {
  background: url('../img/header.png') no-repeat;
  background-size: 100%;
  background-position:center -20px;
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: 'Open Sans', sans-serif !important;
}

#form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  margin-top: 75px;
  text-align: center;
}

#form-signin p{
  margin-top: 10px;
}

#form-signin a{
  text-decoration: underline;
}

#quote {
  max-width: 350px;
  padding: 10px;
  padding-bottom: 0px;
  margin: 0 auto;
  text-align: center;
}

#footer {
  max-width: 520px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

#footer p{
  margin-bottom: 50px;
}

#form-signin img{
  width: 60%;
  margin: auto;
}


#footer img{
  width: 10%;
  margin: auto;
  margin-top: -5px
}

#form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#form-signin input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  margin-top: 30px;
  margin-bottom: 0px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}
#form-signin input[type="password"] {
  background: none;
  border: none;
  border-bottom: 1px solid #555;
  margin-bottom: 0px;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: center;
}
#form-signin button[type="submit"] {
  margin-top: 25px;

}

