body {
	font-family: 'andalus';
	font-size: 12pt;
}
#table-dafar-isi tr.bab td {
	padding-top: 15px;
	
}

#table-manual tr td {
	font-size: 10pt;
	text-align: justify;
	line-height: 17pt;
	vertical-align: top;
}

#table-manual tr.sub-bab td {
	font-size: 12pt;
	font-weight: bold;
	padding-top: 10px;
}

#table-manual tr.sub-sub-bab td {
	font-size: 12pt;
}


