


#step-breadcrumb > li + li::before {
    content: "";

}

#step-breadcrumb li {
    background: url('/application/public/img/element/breadcrumb.gif') 0 0;
    width: 206px;
    height: 30px;
    cursor: pointer;
    padding: 5px ;
}

#step-breadcrumb li.active {
    background-position: 0 31px;
    cursor: default;
    color: white;
}

.btn-print {
	float:left;
    margin:5px 10px;
}

.btn-print a button {
    text-align: left;
	min-width: 150px;
}
