body {
 	font-family: cambria; 
	font-size: 11pt;
}

div.page{
	color: rgb(0,112,192);
	font-size: 18pt;
	font-weight: bold;
	position: relative;
	padding-top: -90px;
}

div.page .header{
	font-size: 16pt;
	text-align: right;
	padding: 45px 0 0 20px;
	width: 738px;
	height: 223px;
	background-image:url('/application/public/img/proposal_header_3.png');
}
div.page .header table {
}
div.page .header table td{
	background-color: rgb(192, 0, 0);
	border: 2px solid white;
	padding: 5px 10px;
	color: rgb(255, 192, 0);
	font-size: 14pt;
	font-weight: bold;
}

div.title{
	background-color: black;
	color: white;
	padding: 0 10px !important;
	width: 720px;
}

div.proposal-content{
	position: relative;
}
div.proposal-content div{
	float: left;
	padding: 5px 10px;
	border:2px solid black;
	text-align: justify;
	vertical-align: middle;

}

div.proposal-content div.right{
	border-left:0;
}

div.proposal-content div.top{
	border-bottom:0;
}

.f-10{
	font-size: 10pt !important ;
}

.table-information {
	width: 660px;
}
.table-information td{
	vertical-align: top;
	text-align: justify;
}

.table-information tr.title{
}
.table-information tr.title td{
	font-weight: bold  ;
	height: 35px;
	vertical-align: bottom;
}

.table-information tr.title-normal td{
	padding-top: 10px;
	vertical-align: top;
}
