	body { font-family: cambria; 
		font-size: 12pt;
	}
	div.page{
		background-image:url('/application/public/img/tranmittal_header.png');
		
	}

	.nopadding td {
		padding: 0 !important;
		margin: 0  !important;
	}


	div.page .header{
		float: right;
		font-size: 9pt;
		text-align: right;
		padding-right: 50px;
		color: rgb(192, 0, 0);
	}

	div.body{
		margin-left: 80px;
		padding-right: 50px;
		/*position: relative;*/
	}

	#table-proyek {
		border-collapse: collapse;
		border: 0;
		font-size: 11pt;
	}


	#table-proyek td {
		background-color: rgb(238,236,225);
		color: black;
		padding: 3 10px;

	}

	#table-proyek td.black, #table-certificate td.black{
		background-color: black;
		color: white;
		border-color: black;
	}
	
	#table-proyek td.even{
		background-color: rgb(221,217,195);
		color: black;
	}

	div.title{
		background-color: black;
		color: white;
		width: 100%;
		padding: 3 10px;
		margin: 10px 0;
	}

	#table-certificate{
		border-collapse: collapse;
		border-width: 0;
		border-spacing: 0;
	}

	#table-certificate thead td{
		font-size: 14pt;
		font-weight: bold;
	}

	#table-certificate td{
		padding: 3 10px;
		border-left: 0;
		border-right: 0;
		border-top: 0;
	}

	#table-certificate td.left{
		border-left: 1px solid black;
	}

	#table-certificate td.right{
		border-right: 1px solid black;
	}


	#table-iso {
		width: 500px;
	}
	#table-iso td{
		height: 30px;
	}
	#table-iso thead td {
		font-weight: bold;
	}

	.table-information {
		width: 660px;
	}
	.table-information td{
		vertical-align: top;
		text-align: justify;
	}
	.table-information td.left{
		width: 50px;
		text-align: right;
		padding-right: 5px;
	}
	.table-information .inner td.left{
		width: 30px;
		text-align: left;
	}

	.garis{
		background-color: black;width: 100%;height: 5px;margin: 15px 0;
	}

	.nopadding{

	}
	
